window.notifications {
  all: unset;
  background: transparent;

  .notifications {
    padding: 0.5em;
    background: transparent;

    .notification {
      min-width: 350px;
      border-radius: 11px;
      padding: 1em;
      margin: 0.5em;
      /*border: 2px solid @wm_borders_edge;*/
      border: 2px solid $theme_selected_bg_color;
      /*background-color: @theme_bg_color;*/
      /* background-color: rgba(29, 32, 48, 0.8); */
      background-color: $background-color;

      .icon {
        min-width: 68px;
        min-height: 68px;
        margin-right: 1em;
      }

      .icon image {
        font-size: 58px;
        /* to center the icon */
        margin: 5px;
        /* color: @theme_fg_color; */
        color: white;
      }

      .icon box {
        min-width: 68px;
        min-height: 68px;
        border-radius: 7px;
      }

      .title {
        /* color: @theme_fg_color; */
        color: white;
        font-size: 1.4em;
      }

      .body {
        color: $theme_unfocused_fg_color;
      }

      .actions .action-button {
        margin: 0 0.4em;
        margin-top: 0.8em;
      }

      .actions .action-button:first-child {
        margin-left: 0;
      }

      .actions .action-button:last-child {
        margin-right: 0;
      }
    }

    .notification.critical {
      /*border: 2px solid lightcoral;*/
      border: 2px solid #ff0000;
    }
  }
}
