// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$theme_fg_color: #{"@theme_fg_color"};
$theme_bg_color: #{"@theme_bg_color"};
$theme_selected_bg_color: #{"@theme_selected_bg_color"};
$insensitive_fg_color: #{"@insensitive_fg_color"};
$theme_unfocused_fg_color: #{"@theme_unfocused_fg_color"};

$background-color: rgba(#34343b, 0.8);

window {
  font-family: "PT Sans";

  levelbar block.full {
    background-color: $theme_selected_bg_color;
  }
}

window.Bar {
  color: $theme_fg_color;
  background-color: $background-color;
  border-bottom: 2px solid $theme_selected_bg_color;

  icon {
    font-family: Hurmit Nerd Font;
    font-size: 13px;
  }

  button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    /* color: $theme_fg_color; */
    color: white;
  }

  button:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  button.nohover:hover,
  button.disabled:hover {
    background: transparent;
  }

  button.disabled {
    color: $insensitive_fg_color;
  }

  .Workspaces {
    button {
      padding: 2px 10px;
      font-family: Hurmit Nerd Font;
      font-size: 13px;
      border-radius: 0;
    }

    button.persistent {
      color: $insensitive_fg_color;
    }

    button:hover {
      border-bottom: 3px solid $theme_fg_color;
    }

    button.focused {
      background-color: $theme_selected_bg_color;
      border-radius: 3px;
    }

    button.urgent {
      /*background-color: #eb4d4b;*/
      background-color: #eb4d4b;
      border-radius: 3px;
    }
  }

  button.inhibiting {
    background-color: $theme_selected_bg_color;
  }
}

window.dropdown-menu {
  .dropdown-menu-container {
    color: $theme_fg_color;
    padding: 1em;
    border-radius: 11px;
    border: 2px solid $theme_selected_bg_color;
    background-color: $background-color;
  }

  button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    /* color: @theme_fg_color; */
    color: white;
  }

  button:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  button.nohover:hover,
  button.disabled:hover {
    background: transparent;
  }

  button.disabled {
    color: $insensitive_fg_color;
  }

  button:active {
    background-color: $theme_selected_bg_color;
  }

  .time {
    font-size: 1.5em;
  }

  .audio-menu-content {
    min-width: 250px;

    .selected {
      background-color: $theme_selected_bg_color;
    }
  }
}

window.osd {
  background-color: $background-color;
  border: 2px solid $theme_selected_bg_color;
  border-radius: 10px;

  icon {
    font-size: 80px;
  }


}

window.notificationsmenu {
  all: unset;
  $background-color: rgba(#34343b, 0.8);

  .header {
    margin: 0.5em;
    font-size: 1.4em;
  }

  button.clear {
    padding: 5px;
  }

  button.clear icon {
    font-size: 20px;
  }

  button.clear:hover {
    background-color: $theme_selected_bg_color;
  }

  .notifications {
    padding: 0.5em;
    background: transparent;


    .notification {
      min-width: 350px;
      border-radius: 11px;
      padding: 1em;
      margin: 0.5em;
      /*border: 2px solid @wm_borders_edge;*/
      border: 2px solid $theme_selected_bg_color;
      /*background-color: @theme_bg_color;*/
      /* background-color: rgba(29, 32, 48, 0.8); */
      /* background-color: $background-color; */

      .icon {
        min-width: 68px;
        min-height: 68px;
        margin-right: 1em;
      }

      .icon image {
        font-size: 58px;
        /* to center the icon */
        margin: 5px;
        /* color: @theme_fg_color; */
        color: white;
      }

      .icon box {
        min-width: 68px;
        min-height: 68px;
        border-radius: 7px;
      }

      .title {
        /* color: @theme_fg_color; */
        color: white;
        font-size: 1.4em;
      }

      .body {
        color: $theme_unfocused_fg_color;
      }

      .actions .action-button {
        margin: 0 0.4em;
        margin-top: 0.8em;
      }

      .actions .action-button:first-child {
        margin-left: 0;
      }

      .actions .action-button:last-child {
        margin-right: 0;
      }
    }

    .notification.critical {
      /*border: 2px solid lightcoral;*/
      border: 2px solid #ff0000;
    }

    button.dismiss {
      padding: 5px;
      font-size: 20px;
    }

    button.dismiss:hover {
      background-color: $theme_selected_bg_color;
    }
  }
}

window.notifications {
  all: unset;
  background: transparent;

  .notifications {
    padding: 0.5em;
    background: transparent;

    .notification {
      min-width: 350px;
      border-radius: 11px;
      padding: 1em;
      margin: 0.5em;
      /*border: 2px solid @wm_borders_edge;*/
      border: 2px solid $theme_selected_bg_color;
      /*background-color: @theme_bg_color;*/
      /* background-color: rgba(29, 32, 48, 0.8); */
      background-color: $background-color;

      .icon {
        min-width: 68px;
        min-height: 68px;
        margin-right: 1em;
      }

      .icon image {
        font-size: 58px;
        /* to center the icon */
        margin: 5px;
        /* color: @theme_fg_color; */
        color: white;
      }

      .icon box {
        min-width: 68px;
        min-height: 68px;
        border-radius: 7px;
      }

      .title {
        /* color: @theme_fg_color; */
        color: white;
        font-size: 1.4em;
      }

      .body {
        color: $theme_unfocused_fg_color;
      }

      .actions .action-button {
        margin: 0 0.4em;
        margin-top: 0.8em;
      }

      .actions .action-button:first-child {
        margin-left: 0;
      }

      .actions .action-button:last-child {
        margin-right: 0;
      }
    }

    .notification.critical {
      /*border: 2px solid lightcoral;*/
      border: 2px solid #ff0000;
    }

    button.dismiss {
      font-size: 20px;
    }

    button.dismiss:hover {
      background-color: $theme_selected_bg_color;
    }
  }
}

window.playersmenu {
  .player {
    min-width: 400px;
    border-radius: 11px;
    padding: 1em;
    /*border: 2px solid @wm_borders_edge;*/
    /* border: 2px solid $theme_selected_bg_color; */
    /*background-color: @theme_bg_color;*/
    /* background-color: rgba(29, 32, 48, 0.8); */
    /* background-color: $background-color; */

    /* .icon { */
    /*   min-width: 68px; */
    /*   min-height: 68px; */
    /*   margin-right: 1em; */
    /* } */

    .icon image {
      font-size: 58px;
      /* to center the icon */
      margin: 5px;
      /* color: @theme_fg_color; */
      color: white;
    }

    .icon box {
      min-width: 68px;
      min-height: 68px;
      border-radius: 7px;
    }

    .title {
      /* color: @theme_fg_color; */
      color: white;
      font-size: 1.4em;
    }

    .artist,
    .album {
      color: $theme_unfocused_fg_color;
    }

    .controls {
      padding: 20px 0;
    }
  }
}
